# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/old-stock-ui/node_modules
/old-stock-ui/.pnp
/old-stock-ui/.pnp.js
/stock-analyzer/node_modules

backend/env
backend/__pycache__/
backend/*/__pycache__

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
env

node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
